<div id='flash' class='notice'>
  <%= flash[:notice] %>
</div>
<p>You must translate the following from <span class="lang_target"><%= @chain.candidate.target_language%></span> to <span class="lang_source"><%= @chain.candidate.source_language%></p></span>
<p id = "input_sentence"><%= @chain.l2attempt.sentence%></p>
<section id="input_section">
  <form action="/submit_l1" method="post">
	<input type="hidden" name="chain" value= "<%= @l1attempt.chain.id%>" >  
    <textarea name="sentence" placeholder="Your translation&hellip;"></textarea>  
    <input type="submit"  class="round" value="Send to Tower">
  </form>
</section>
	
	
	<body onload="startTime('<%= (@l1attempt.recieved_at).to_i %>')">
	 <p>Time Spent: <span id="time"></span></p>
	</body>