<% @candidates.each do |can| %>    
    <article>
	<p>  
      <%= can.sentence %>  
    </p>  
    <p class = "lang_source">  
      Source: <%= can.source_language%>      Target: <%= can.target_language%> 
    </p>
    <p class="meta">
    	<% can.chains.each do |ch| %>
			<%if ch.progress == 3%>
				Score(<%=ch.score%>) - <%= ch.l2attempt.sentence %></br>
			<% end %>
		<% end %>
    </p>  
  </article>  
<% end %>
