<div id="unviewed_sc">
<% if @unviewed_score_cards.size > 0 %>
<h3>You have not viewed these:</h3>
<ul>
<% @unviewed_score_cards.each do |sc| %>
<li>
<a href="/scorecard/<%=sc.id%>"> Score Card <%=sc.id %></a> Score: <%= sc.chain.score%> Date: <%= sc.created_at.day%>/<%= sc.created_at.month%>/<%= sc.created_at.year%>
</li>
<% end %>
</ul>
<%end%>
</div>


<div id="viewed_sc">
<% if @viewed_score_cards.size > 0 %>
<h3>Previously Viewed</h3>
<ul>
<% @viewed_score_cards.each do |sc| %>
<li>
<a href="/scorecard/<%=sc.id%>"> Score Card <%=sc.id %></a> Score: <%= sc.chain.score%> Date: <%= sc.created_at.day%>/<%= sc.created_at.month%>/<%= sc.created_at.year%>
</li>
<% end %>
</ul>
<% end %>
<% if !(@viewed_score_cards.size > 0) && !(@unviewed_score_cards.size > 0) %>
<h3>You do not have any scorecards yet, get translating!</h3>
<%end%>
</div>

