<div id='flash' class='notice'>
  <%= flash[:notice] %>
</div>
<p>You must translate the following from <%= @candidate.source_language%> to <%= @candidate.target_language%></p>
<p id = "input_sentence"><%= @candidate.sentence%></p>
<section id="input_section"> 
  <form action="/submit_l2" method="post">
	<input type="hidden" name="chain" value= "<%= @l2attempt.chain.id%>" >  
    <textarea name="sentence" placeholder="Your translation&hellip;"></textarea>  
    <input type="submit" value="Send to Tower">
  </form>
</section>  