<p><%= @candidate.player.name %> entered: <%= @candidate.sentence%></p>
<p>Then <%= @l2.player.name %> translated it to: <%= @l2.sentence%></p>
<p>Then <%= @l1.player.name %> translated it back to: <%= @l1.sentence%></p>
<p>progress<%= @chain.progress%></p>
